$primary: #ad7dd8;
$navbar-dark-active-color: White;
$navbar-dark-brand-color: White;
$navbar-dark-color: White;

$accordion-bg: rgb(247, 247, 247);
$accordion-color: rgb(0, 0, 0);

$border-color: Purple;



@import "node_modules/bootstrap/scss/bootstrap";
